.container{
    width: 1110px;
    height: 687px;
    display: flex;
    flex-direction: column;
    gap: 85px;
    position: absolute;
    inset: 0;
    margin: auto;
}

@media(max-width: 1170px){
    .container{
        width: 90%;
    }
}