.container{
    width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 85px;
    position: absolute;
    inset: 0;
    margin: auto;
    padding-top: 67px;
}

@media(max-width: 1170px){
    .container{
        width: 90%;
    }
}


@media(max-width: 850px){
    .container{
        padding-top: 37px;
        gap: 121px;
    }
}

@media(max-width: 650px){
    .container{
        padding-top: 24px;
        gap: 85px;
    }
}