.tile{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s linear;
    background-color: #304859;
    color: #FCFCFC;
}

.clicked{
    background-color: #BCCED9;
}

.currentPlayerClicked{
    background-color: #FDA214
}

.tile:not(.tile.clicked):not(.tile.currentPlayerClicked):hover{
    background-color: #6395B8;
}

