.tile{
    width: 82px;
    height: 82px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s linear;
    background-color: #304859;
    color: #FCFCFC;
}


.clicked{
    background-color: #BCCED9;
}

.currentPlayerClicked{
    background-color: #FDA214
}

.tile:not(.tile.clicked):not(.tile.currentPlayerClicked):hover{
    background-color: #6395B8;
}

.tile_image{
    object-fit: contain;
    transform: scale(0);
}

.tile_number{
    text-align: center;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scale(0);
}

.visible {
    transform: scale(1);
}
