.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 74px;
}

.player{
    width: 255px;
    height: 72px;
    background-color: #DFE7EC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    color: #7191A5;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
}

.score {
    color: #304859;
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.currentPlayer{
    background-color: #FDA214;
    color: #FCFCFC;
}

.currentScore {
    color: white;
}

.currentTurn {
    color: #152938;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    transition: font-size 0.2s linear;
}

.arrow{
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FDA214;
    position: absolute;
    top: -30px;
    left: 0px;
    right: 0px;
    margin: auto;
}

@media(max-width: 900px){
    .container{
        gap: 11px;
    }
}

@media(max-width: 850px){
    .container{
        padding-bottom: 20px
    }

    .player{
        font-size: 0.9375rem;
        height: 80px;
        flex-direction: column;
        align-items: flex-start;
        padding: 14px;
    }
    .score{
        font-size: 1.5rem;
    }

    .currentTurn{
        font-size: 0.6rem;
    }
}

@media(max-width: 650px){
    .container{
        gap: 24px;
    }   

    .player{
        height: 70px;
        align-items: center;
    }

    .arrow{
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #FDA214;
        top: -20px;
    }
}