.tile_image{
    object-fit: contain;
    transform: scale(0);
}

.tile_number{
    text-align: center;
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: scale(0);
}

.visible {
    transform: scale(1);
}
