@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('./Fonts/AtkinsonHyperlegible-Bold.ttf');
}

:root{
    --font: 'Atkinson Hyperlegible';
    --closest: 100;
    --close: 75;
    --far: 50;
    --farther: 25;
    --farthest: 0;
}

* {
    margin: 0px;
    padding: 0px;
    border: none;
    transition: all 0.2s linear;
    box-sizing: border-box;
}

body, html, #root{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}